body {
  background: #c4b5b5;
  min-height: 100vh;
  padding-bottom: 40px;
  padding-top: 40px;
}
.MuiTouchRipple-rippleVisible {
  animation-duration: 0.35s !important;
}
*:not(.material-symbols-rounded) {
  font-family: "Kantumruy Pro", sans-serif !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.4) !important;
}
