body {
  background: url(https://i.ibb.co/31Grmz3/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  padding-top: 40px;
}
.MuiTouchRipple-rippleVisible {
  animation-duration: 0.35s !important;
}
*:not(.material-symbols-rounded) {
  font-family: "Outfit", sans-serif !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.4) !important;
}
